@model EntityLayer.Entities.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Detay | E-Shopper</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/eshop/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/eshop/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/eshop/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/eshop/css/price-range.css" rel="stylesheet">
    <link href="~/eshop/css/animate.css" rel="stylesheet">
    <link href="~/eshop/css/main.css" rel="stylesheet">
    <link href="~/eshop/css/responsive.css" rel="stylesheet">


</head><!--/head-->

<body>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex">
                    <div>
                        @Html.Action("CategoryList", "Category")

                    </div>
                    <div class="col-sm-9 padding-right">
                        <div class="product-details">
                            <!--product-details-->
                            <div class="d-flex">
                                <div class="col-sm-5">
                                    <div class="view-product">
                                        <img src="~/Content/Image/@Model.Image" style="width:300px; height:240px; border-style:none; margin-top:20px" alt="@Model.Name"/>

                                    </div>


                                </div>
                                <div class="col-sm-7">
                                    <div class="product-information" style="background-color:#f8f9fa;">

                                        <h2>Ürün Adı: @Model.Name</h2>


                                        <span>
                                            <span>@Model.Price TL</span>


                                            @if (Model.Stock > 0)
                                            {
                                                <a class="btn btn-fefault cart" style="margin-top:15px" href="/Cart/AddCart/@Model.Id">
                                                    <i class="fa fa-shopping-cart"></i>
                                                    Sepete Ekle
                                                </a>
                                            }
                                            else
                                            {
                                                <b>Stokta Yok</b>
                                            }


                                        </span>
                                        @*<p><b>Kategori:</b> @Model.Category.Name</p>*@
                                        <p><b>Stok:</b> @Model.Stock</p>
                                        <p>
                                            <b>Popüler:</b>
                                            @if (Model.Popular == true)
                                            {
                                                <b>Evet</b>
                                            }
                                            else
                                            {
                                                <b>Hayır</b>
                                            }

                                        </p>
                                        <p>
                                            <b>Onay:</b>
                                            @if (Model.IsApproved == true)
                                            {
                                                <b>Evet</b>
                                            }
                                            else
                                            {
                                                <b>Hayır</b>
                                            }
                                        </p>
                                        <p>
                                            <b>Açıklama: @Model.Desciription</b>

                                        </p>
                                        <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
                                    </div><!--/product-information-->
                                </div>
                            </div>




                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                Yorum Yap
                            </button>

                            <div class="modal fade" id="exampleModal" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="post" action="/Product/Comment">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Yorum Yazınız</h5>

                                            </div>
                                            <div class="modal-body">
                                                <textarea class="form-control" name="Content" placeholder="Yorum Yazınız..."></textarea>
                                                <input type="hidden" name="ProductId" value="@Model.Id" />
                                                <input type="hidden" name="UserId" value="@Session["userid"]" />
                                                <input type="hidden" name="Date" value="@DateTime.UtcNow" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                                                <button type="submit" class="btn btn-primary">Gönder</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>





                            <hr />
                            <div class="row">
                                <div class="col-md-6 col-sm-4">

                                    <h5>Ürün Yorumları</h5><hr />
                                    @foreach (var item in ViewBag.yorum)
                                    {
                                    <h5 style="color:dimgray;">@item.User.Name @item.User.SurName  <span style="font-size:x-small">@item.Date</span></h5>
                                        <p style="color:darkslategrey;">@item.Content </p>
                                    }



                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </section>





    @*<script src="~/eshop/js/jquery.js"></script>
        <script src="~/eshop/js/price-range.js"></script>
        <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
        <script src="~/eshop/js/bootstrap.min.js"></script>
        <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
        <script src="~/eshop/js/main.js"></script>*@

    @*<script type="text/javascript">
            $(document).ready(function () {
                $("#gonder").click(function () {
                    bootbox.confirm("Yorumunuz gönderiliyor emin misiniz?", function (result) {
                        if (result) {
                            var icerikgir = $("#icerikgir").val();
                            var userName = $("#userName").val();


                            $.ajax({

                                url: '/Product/Comment/',
                                data: { icerik: icerikgir, productid:@Model.Id , username:userName},
                                 type: 'POST',
                                    dataType: 'json',
                                    success: function (data) {


                                }
                                });
                        }
                        else
                        {
                            bootbox.confirm("Hata oluştu")
                        }
                    })


                });
            })
        </script>*@

    <script src="~/eshop/js/jquery.js"></script>
    <script src="~/eshop/js/price-range.js"></script>
    <script src="~/eshop/js/jquery.scrollUp.min.js"></script>
    <script src="~/eshop/js/bootstrap.min.js"></script>
    <script src="~/eshop/js/jquery.prettyPhoto.js"></script>
    <script src="~/eshop/js/main.js"></script>
</body>
</html>